<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.haitham.sunshineapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:name=".WeatherApplication"
        android:allowBackup="true"
        android:icon="@drawable/weathericon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.my1">
        <activity
            android:name=".details"
            android:label="@string/title_activity_details"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.AppCompat.Dialog">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.haitham.sunshineapp.MainActivity" />
        </activity>
        <activity
            android:name=".Setting"
            android:label="@string/title_activity_setting"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.haitham.sunshineapp.MainActivity" />
        </activity>
        <activity
            android:name=".temp"
            android:label="Current Temprature"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.AppCompat.Dialog"/>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name=".MJob_Intent_Service"
            android:permission="android.permission.BIND_JOB_SERVICE"
            />
        <receiver android:name=".M_Alert_Manger"/>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

    </application>

</manifest>